body {
   box-sizing: border-box;
   font-family: arial;
   background-color: lightyellow;
   text-align: center;
}
#pomodoro-canvas-timer {
   position: absolute;
   z-index: 3;
}
#pomodoro-canvas-circle {
   z-index: 3;
}
#pomodoro-canvas-shadow {
   position: absolute;
   z-index: 1;
}
.hidden {
   display: none;
}
button {
   background-color: rgba(255,0,0,.1);
   border: 2px solid red;
   border-radius: 10px;
   padding: 10px 15px;
   margin: 5px 10px 15px;
}
button:hover {
   box-shadow: 0 0 6px red;
}
button:focus {
   outline: none;
   transition: 0.5s;
}
button:active {
   background-color: rgba(255,0,0,.9);
}
h3 {
   font-size: 25px;
}
input {
   height: 100%;
   padding: 5px;
   font-size: 20px;
   color: red;
   border: 3px solid rgba(255,0,0,.3);
   border-radius: 10px;
}
#pomodoro-clock-task {
   width: 300px;
}
input:focus {
   border-color: red;
   outline: none;
}
input::placeholder {
   color: rgba(255,0,0,.3);
}